@use "../../../../styles/styles.scss";

:host {
  display: block;
}

// Base progress styles
div[data-slot="progress"] {
  position: relative;

  // Progress indicator
  div[data-slot="progress-indicator"] {
    transition: transform 0.2s ease-in-out;
  }
}