<div
  *ngIf="didError; else normalImage"
  [ngClass]="
    'inline-block bg-gray-100 text-center align-middle ' + (className || '')
  "
  [ngStyle]="styleObject"
>
  <div class="flex items-center justify-center w-full h-full">
    <img
      [src]="errorImgSrc"
      alt="Error loading image"
      [attr.data-original-url]="src"
    />
  </div>
</div>

<ng-template #normalImage>
  <img
    [src]="src"
    [alt]="alt"
    [ngClass]="className"
    [ngStyle]="styleObject"
    (error)="handleError()"
  />
</ng-template>
