@use "../../../../../styles/styles.scss";

:host {
  display: block;
}

.text-muted-foreground {
  color: rgba(styles.$muted-foreground, 1);
}

p {
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.5;
}
