@use "../../../../styles/styles.scss";

:host {
  display: block;
}

// Base card styles
.bg-card {
  background-color: rgba(styles.$card, 1);
}
.text-card-foreground {
  color: rgba(styles.$card-foreground, 1);
}